# The Docker image that will be used to build your app
image: oven/bun:1.1-alpine
# Functions that should be executed before the build script is run
before_script:
  - bun install --production --frozen-lockfile
pages:
  script:
    - bun run build -- --outDir public
  artifacts:
    paths:
      # The folder that contains the files to be exposed at the Page URL
      - public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
